.tHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
}
.links a {
  color: #222;
  font-weight: 800;
  border-bottom: 2px solid transparent;
  transition: 0.5s;
}
.links a:hover {
  color: #e53637;
  border-bottom: 2px solid #e53637;
}
.t-products .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px;
}
.ProductCard {
  padding: 15px;
  margin: 30px;
  box-shadow: 7px 3px 20px 0px #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ProductCard img {
  cursor: pointer;
  margin: 10px;
  max-width: 260px;
  width: 100%;
  height: auto;
}
.ProductCard img:hover {
  transform: scale(1.1);
}
.btns {
  display: flex;
  align-items: center;
  color: #e53637;
  cursor: pointer;
}
.btns svg {
  margin: 0px 15px;
}
.ProductCard p {
  font-weight: bolder;
  color: rgb(29, 239, 29);
  margin: 5px;
}

.soldCart {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f2ee;
  height: 60vh;
}
.prd img {
  max-width: 350px;
  width: 100%;
  height: auto;
}
.prdDetails {
  margin-left: 15px;
}
.prdDetails h5 {
  color: #e53637;
  font-weight: 888;
  margin-bottom: 20px;
}
.prdDetails h3 {
  font-weight: bolder;
  margin: 20px 0px;
}
.prdDetails a {
  background-color: #222;
  color: #fff;
  padding: 10px;
  letter-spacing: 2px;
  cursor: pointer;
}
