.navbar {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.navbar img {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul li a,
.navbar ul li span {
  color: #111111;
  font-weight: 600;
  cursor: pointer;
}

.navbar ul li a:hover,
.navbar ul li span:hover {
  color: #e63334;
}
.navbar .icons svg {
  margin: 0 10px;
  cursor: pointer;
}
.navbar .pagesDetails {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .pagesDetails ul {
  position: absolute;
  top: 12vh;
  right: 0%;
  bottom: 55%;
  left: 0%;
  background-color: #111111;
  width: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  display: flex;
}
.navbar .pagesDetails ul li a {
  color: #fff;
  margin: 5px 0px;
}
.navbar .pagesDetails ul li a:hover {
  color: #e63334;
}
#show {
  transform: translateY(0%);
  transition: 1s;
}
#hide {
  transform: translateY(-200%);
  transition: 1s;
}
