.headbar {
  background-color: #111111;
  color: #fff;
}
.headBarHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6vh;
}
.headBarHead select {
  border: none;
  background-color: #111111;
  color: #fff;
  outline: none;
}
.curr a {
  color: #fff;
  margin: 0 15px;
  font-size: 14px;
}
@media (max-width: 555px) {
  .headBarHead {
    justify-content: center;
  }
  .headBarHead h5 {
    font-size: 10px;
  }
}

@media (max-width: 481px) {
  .headbar h5 {
    display: none;
  }
}
